/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --Links: #00d493;
}

.footerContainer {
  width: 100%;
  background-color: var(--Links);
  font-family: "Roboto", sans-serif;
  position: relative;
  padding-top: 170px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  gap: 5%;
  margin: 30px 0;
  color: white;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 20%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.about h1 {
  font-size: 1.5rem;
}

.about p {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  line-height: 30px;
  letter-spacing: 2px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts h1 {
  font-size: 1.5rem;
}

.contacts li {
  font-size: 1rem;
  list-style: none;
  margin-top: 20px;
  letter-spacing: 2px;
}

.Contact-icons {
  margin-right: 15px;
  font-size: 1.5rem;
}

.useful-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 200px;
}

.useful-links h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.useful-links a {
  font-size: 1rem;
  color: white;
  letter-spacing: 2px;
  width: 200px;
}

.useful-links a:hover {
  color: black;
}

.follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.follow h1 {
  font-size: 1.5rem;
}

.follow a {
  font-size: 2rem;
  color: white;
}

.follow-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 200px;
  margin-top: 10px;
}

.follow-icons-color {
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.follow-icons-color:hover {
  color: black;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.license p {
  font-size: 1rem;
  color: white;
  width: 100%;
  text-align: center;
}

hr {
  color: white;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
}

@media (width <= 950px) {
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .about,
  .contacts {
    width: 40%;
    margin-bottom: 30px;
  }

  .useful-links,
  .follow {
    width: 40%;
  }
}

@media (width <= 515px) {
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .contacts {
    width: 75%;
  }

  .useful-links {
    margin-top: 30px;
  }

  .follow {
    margin-top: 40px;
  }
}

/* Footer's wave */
.custom-shape-divider-top-1736841044 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1736841044 svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 310px;
}

.custom-shape-divider-top-1736841044 .shape-fill {
  fill: #ffffff;
}
