.searchBlock {
  background: rgba(255, 255, 255, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  height: 200px;
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  position: fixed;
  left: -150px;
  bottom: -150px;

  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;

  z-index: 1;

  transition: 200ms;

  box-shadow: 0 0 10px -5px black;

  opacity: 0;
}

.blank {
  text-decoration: underline wavy rgb(0, 255, 177);
  text-decoration-thickness: 1px;
}

.searchTriangle {
  position: fixed;
  left: 0;
  bottom: 0;

  width: 70px;
  height: 70px;

  z-index: 1;

  background-color: #080807;

  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}
.searchTriangle:hover {
  cursor: pointer;
}

.searchTriangle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgb(0, 255, 177);
  background: linear-gradient(
    90deg,
    rgba(0, 123, 86, 1) 0%,
    rgba(0, 208, 144, 1) 50%,
    rgba(0, 255, 177, 1) 100%
  );
  border-radius: 50%;
  border: 2px solid white;
  top: calc(45px - 11px);
  left: 11px;
}
.searchTriangle::after {
  content: "";
  position: absolute;
  height: 15px;
  border: 1px solid white;
  top: 52px;
  left: 8px;
  transform: rotate(45deg);
}

.searchCoinToggle {
  opacity: 1;
  left: 50px;
  bottom: 50px;
}

h4 {
  margin-bottom: 5px;
}

.searchCoinText {
  text-align: center;
  padding: 10px;
}

input {
  height: 30px;
  font-size: 1.1rem;
  border-radius: 20px;
  padding-left: 15px;
  border: 1px solid gray;
}

.searchBlock .custom-button {
  color: #00d493;
  z-index: 1;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.searchBlock .custom-button::before {
  position: absolute;
  content: "";
  background: #00d493;
  width: 150px;
  height: 200px;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: 0.3s all;
  z-index: -1;
}

.searchBlock .custom-button:hover {
  color: white;
}

.searchBlock .custom-button:hover::before {
  top: -30px;
  left: -30px;
}
