/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.searchBlock {
  background: rgba(255, 255, 255, 0.45);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  height: 200px;
  width: 300px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;

  position: fixed;
  left: -150px;
  bottom: -150px;

  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;

  z-index: 1;

  -webkit-transition: 200ms;

  -o-transition: 200ms;

  transition: 200ms;

  -webkit-box-shadow: 0 0 10px -5px black;

  box-shadow: 0 0 10px -5px black;

  opacity: 0;
}

.searchTriangle {
  position: fixed;
  left: 0;
  bottom: 0;

  width: 70px;
  height: 70px;

  z-index: 1;

  background: rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);

  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}
.searchTriangle:hover {
  cursor: pointer;
}

.searchTriangle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgb(0, 255, 177);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 123, 86, 1)),
    color-stop(50%, rgba(0, 208, 144, 1)),
    to(rgba(0, 255, 177, 1))
  );
  background: -o-linear-gradient(
    left,
    rgba(0, 123, 86, 1) 0%,
    rgba(0, 208, 144, 1) 50%,
    rgba(0, 255, 177, 1) 100%
  );
  background: linear-gradient(
    45deg,
    slategray 0%,
    rgba(0, 255, 177, 1) 85%,
    slategray 100%
  );
  border-radius: 50%;
  border: 2px solid rgb(49, 49, 49);
  top: calc(45px - 11px);
  left: 11px;
}
.searchTriangle::after {
  content: "";
  position: absolute;
  height: 15px;
  border: 1px solid black;
  top: 52px;
  left: 8px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.searchCoinToggle {
  opacity: 1;
  left: 50px;
  bottom: 50px;
}

h4 {
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
}

.searchCoinText {
  text-align: center;
  padding: 10px;
}

input {
  height: 30px;
  font-size: 1.1rem;
  border-radius: 20px;
  padding-left: 15px;
  border: 1px solid gray;
  margin-bottom: 15px;
}

.searchBlock .custom-button {
  color: #00d493;
  z-index: 1;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.searchBlock .custom-button::before {
  position: absolute;
  content: "";
  background: #00d493;
  width: 150px;
  height: 200px;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  z-index: -1;
}

.searchBlock .custom-button:hover {
  color: white;
}

.searchBlock .custom-button:hover::before {
  top: -30px;
  left: -30px;
}

.search {
  width: 5.5em;
  height: 45px;
  padding: 0;
}

.searchCoinParagraph {
  display: none;
}

@media (width <= 740px) {
  .searchTriangle {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    position: fixed;
    left: -7px;
    bottom: -7px;
  }

  .searchBlock {
    height: 170px;
    width: 250px;
  }

  .searchCoinToggle {
    left: 30px;
    bottom: 30px;
  }
}

@media (width <= 575px) {
  .searchBlock {
    height: 270px;
    width: 150px;
  }

  input {
    width: 130px;
    color: white;
    margin-bottom: 0;
  }

  .searchCoinParagraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 130px;
  }
}

@media (width <= 370px) {
  .searchBlock {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .searchCoinToggle {
    left: 10px;
    bottom: 10px;
  }

  .searchTriangle {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    position: fixed;
    left: -11px;
    bottom: -11px;
  }
}
