* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NewsBlock {
  width: 100vw;
  background-color: #fff;
  color: black;
  padding: 5px;
  letter-spacing: 1px;
  border-bottom: 0.3mm solid #ececec;
}

img {
  width: 50vw;
}
