@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --Links: #00d493;
}

.coinBlock {
  position: relative;
  box-sizing: border-box;
  width: 14rem;
  height: 22rem;
  padding-top: 20px;
  border: 1px solid #ccccccba;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Roboto", sans-serif;
  transition: 200ms ease-in-out;
  background-color: rgba(233, 233, 233, 0.2);
  scroll-margin-top: 168px;
}

.coinBlock img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: auto;
  filter: drop-shadow(0 5px 3px rgba(128, 128, 128, 0.2));
}

.coinBlock h4 {
  margin-top: 10px;
  font-size: 1.4rem;
  color: var(--Links);
}

.coinBlock h5 {
  margin: 10px 0;
  font-size: 1rem;
  color: #555;
}

.coinBlock ul {
  list-style: circle;
  margin: 0;
  margin: auto;
  width: 225px;
}

.coinBlock li {
  width: max-content;
  margin-left: 25%;
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

.priceDown {
  color: #c41e3a !important;
}
.priceUp {
  color: #00a36c !important;
}

.coinBlock:hover {
  transform: scale(1.05);
  transition: 200ms ease-in-out;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.coinBlock::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 10px;
  animation: none;
}

@keyframes borderAnimation {
  0% {
    clip-path: inset(0 100% 100% 0);
  }
  25% {
    clip-path: inset(0 0 100% 0);
  }
  50% {
    clip-path: inset(0 0 0 0);
  }
  75% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 100% 0);
  }
}

.coinBlock:hover::before {
  border-color: #00d493;
  animation: borderAnimation 1.5s linear infinite;
}

@media (width <= 1280px) {
  .coinBlock {
    transform: scale(0.9);
  }
}