/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.newsSearch {
  left: unset;
  right: -150px;
  bottom: -150px;

  opacity: 0;
}

.newsToggle {
  left: unset;
  right: 0;
  bottom: 0;

  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);

  clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.newsToggle::before {
  left: unset;
  right: 11px;
}

.newsToggle::after {
  left: unset;
  right: 8px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.newsToggle:hover {
  cursor: pointer;
}

.searchNewsToggle {
  opacity: 1;

  left: unset;
  right: 50px;
  bottom: 50px;
}

.search {
  width: 5.5em;
  height: 45px;
  padding: 0;
  cursor: unset;
}

@media (width <= 740px) {
  .newsToggle {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    position: fixed;
    bottom: -7px;
    right: -7px;
  }

  .searchNewsToggle {
    left: unset;
    right: 30px;
    bottom: 30px;
  }
}

@media (width <= 370px) {
  .searchNewsToggle {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    right: 10px;
    bottom: 10px;
  }

  .newsToggle {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    position: fixed;
    right: -11px;
    bottom: -11px;
  }
}
