/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.widthFix {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}
.coinContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 24px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 24px;
  background-color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 35px;
  scroll-behavior: smooth;
}

.coinContainer {
  scrollbar-width: auto !important;
  -ms-overflow-style: auto !important;
}
.coinContainer::-webkit-scrollbar {
  display: block !important;
}

.coinLoaderPosition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.coinLoader {
  width: 100px;
  padding: 8px;
  margin: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #00d493;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  -webkit-animation: l3 1s infinite linear;
  animation: l3 1s infinite linear;
}
@-webkit-keyframes l3 {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes l3 {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.custom-shape-divider-top-1736977775 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: white;
}

.custom-shape-divider-top-1736977775 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1736977775 .shape-fill {
  fill: #007b56;
}
