@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --Links: #00d493;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.newsBlock {
  width: 100vw;
  background-color: #f7f7f7;
  color: black;
  letter-spacing: 3px;
  display: flex;
  text-align: left;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 -250px 128px -4px rgba(0, 0, 0, 0.05);
}

img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsBlock:nth-of-type(odd) {
  display: flex;
  flex-direction: row-reverse;
}

.urlToImageContainter:nth-of-type(even) {
  float: right;
  width: 30vw;
}

.newsContent,
.urlToImageContainter {
  display: flex;
  flex-grow: 1;
  width: 40vw;
}

.newsContent {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

h2,
b,
i,
p,
a {
  padding: 15px 0;
  width: 75%;
}

.newsBlock:nth-child(even) .urlToImageContainter img {
  border-bottom-left-radius: 150px;
  object-fit: cover;
}

.newsBlock:nth-child(odd) .urlToImageContainter img {
  border-top-right-radius: 150px;
  object-fit: cover;
}

.newsBlock:nth-child(odd) .newsContent h2,
.newsBlock:nth-child(odd) .newsContent b,
.newsBlock:nth-child(odd) .newsContent i,
.newsBlock:nth-child(odd) .newsContent p {
  margin-left: 11%;
}

.newsBlock:nth-child(even) .newsContent h2,
.newsBlock:nth-child(even) .newsContent b,
.newsBlock:nth-child(even) .newsContent i,
.newsBlock:nth-child(even) .newsContent p {
  text-align: left;
  margin-right: 11%;
}

h2 {
  color: #00d493;
  font-size: 1.6rem;
}

p {
  font-size: 1.2rem;
}

a {
  font-size: 1.2rem;
  position: relative;
  text-decoration: none;
  width: 80px;
  text-align: center;
  color: black;
  transition: color 0.3s ease-in-out;
}

button {
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: #00d493;
  border: 2px solid #00d493;
  border-radius: 6px;
  position: relative;
}

button::before {
  position: absolute;
  content: "";
  background: #00d493;
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

button:hover {
  color: white !important;
}

button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

button:hover::before {
  top: -30px;
  left: -30px;
}

a.news-link[data-news] {
  color: #00d493;
  padding-right: 20px;
  padding-left: 20px;
}

a.news-link[data-news]:hover {
  color: white;
}

@media (1200px <= width <= 1440px) {
  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .news-link {
    font-size: 1rem;
  }
}

@media (800px <= width <= 1200px) {
  .urlToImageContainter img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .news-link {
    font-size: 1rem;
  }
}

@media (width < 800px) {
  .newsBlock {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .urlToImageContainter {
    width: 100%;
    order: 1;
  }

  .urlToImageContainter img {
    width: 100vw;
    height: auto;
    object-fit: cover;
    border-radius: 0 !important;
  }

  .newsContent {
    width: 100%;
    padding: 20px;
    text-align: center;
    order: 2;
  }

  h2,
  b,
  i,
  p,
  .news-link {
    text-align: center;
    width: 100%;
    font-size: 1rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .newsBlock:nth-child(odd) .newsContent h2,
  .newsBlock:nth-child(odd) .newsContent b,
  .newsBlock:nth-child(odd) .newsContent i,
  .newsBlock:nth-child(odd) .newsContent p,
  .newsBlock:nth-child(even) .newsContent h2,
  .newsBlock:nth-child(even) .newsContent b,
  .newsBlock:nth-child(even) .newsContent i,
  .newsBlock:nth-child(even) .newsContent p {
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: center !important;
  }

  .newsBlock:nth-of-type(odd),
  .newsBlock:nth-of-type(even) {
    flex-direction: column;
  }
}

/* Loading solution */
.loader {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 18px;
  margin: auto;
  background: conic-gradient(from 135deg at top, #f7f7f7 90deg, #0000 0) 0
      calc(50% - 12px) / 48px 24px,
    radial-gradient(
        farthest-side at bottom left,
        #0000 calc(100% - 18px),
        #f7f7f7 calc(100% - 15px) 99%,
        /* Adjusted accordingly */ #0000
      )
      top right/50% 50% content-box content-box,
    radial-gradient(
        farthest-side at top,
        #0000 calc(100% - 18px),
        #f7f7f7 calc(100% - 15px) 99%,
        #0000
      )
      bottom / 100% 50% content-box content-box;
  background-repeat: no-repeat;
  animation: l11 1s infinite linear;
}

@keyframes l11 {
  100% {
    transform: rotate(1turn);
  }
}
