@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --meta: #00d493;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: fixed;
  top: 0px;
  z-index: 3;
  width: 100%;
  height: 7vh;
  background-color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

#logo {
  height: 7vh;
  width: 7vh;
}

.name {
  display: flex;
  align-items: center;
}

#name {
  font-size: 2rem;
  font-weight: bolder;
  margin: 0;
  color: var(--meta);
}

.tabs {
  display: flex;
  align-items: center;
  gap: 10rem;
  font-size: 1.25rem;
  flex: 1;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
  position: relative;
  transition: 600ms;
}

.tabs a.links[data-nav]::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--meta);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.links:hover {
  color: var(--meta);
}

.tabs a.links[data-nav]:hover::after {
  transform: scaleX(1);
}

.sign {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  background-color: var(--meta);
  transition: 600ms;
  margin-right: 15px;
}

#button {
  color: white;
  padding: 0.5rem;
}

.sign:hover {
  background-color: #00a271;
}

.icon-container {
  display: none;
}

@media (1200px <= width <= 1440px) {
  .tabs {
    width: auto;
    font-size: 2rem;
  }

  .sign {
    font-size: 1.25rem;
  }
}

@media (800px <= width <= 1200px) {
  .tabs {
    justify-content: center;
    gap: 4rem;
  }

  .sign {
    font-size: 1.25rem;
  }
}

@media (350px <= width <= 800px) {
  .name {
    display: flex;
    justify-content: flex-start;
  }

  .tabs {
    display: none;
  }

  .sign {
    display: none;
  }

  .icon-container {
    display: flex;
    z-index: 1;
    padding-right: 10px;
    font-size: 2rem;
    cursor: pointer;
    color: black;
  }
}

@media (width < 350px) {
  #name {
    font-size: 1.75rem;
  }

  .tabs {
    display: none;
  }

  .sign {
    display: none;
  }

  .icon-container {
    display: flex;
    z-index: 1;
    padding-right: 10px;
    font-size: 2rem;
    cursor: pointer;
    color: black;
  }
}

.mobile-menu {
  position: absolute;
  top: 0%;
  background-color: white;
  width: 10rem;
  height: 25rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 1rem 0;
  z-index: 1;
  opacity: 0;
  transform: translateX(-20px);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.mobile-link {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  transition: color 0.3s ease-in-out;
  margin-top: 20px;
}

.mobile-link:hover {
  color: var(--meta);
}

.mobile-menu.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
